<style>

#banner {
  background-image: linear-gradient(to right, #320D7E, #25E7E1);
  color: #ffffff;
  padding-top: 100px;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 240px;
  margin-bottom: 10px;
}

.price{
    font-size:16px;
}

.viewMoreBtn{
    background-color:#F8D210; 
    border-radius:24px; 
    border-color: transparent;
    color:#fff;
}

.productCard{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Classified Ads";
}

<section id="banner">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 style="font-size: 55px">Post Yours Ads</h1>
                <div class="row" style="margin-top: 50px">
                    <form action="#">
                        <div class="form-group col-sm-8">
                            <input type="text" class="form-control" id="searchQuery" placeholder="Search Item" style="border-radius:24px; padding:22px">
                        </div>
                        <div class="form-group col-sm-6">
                            <select class="form-control" id="sel1" style="border-radius:24px">
                                <option>Gampaha</option>
                                <option>Galle</option>
                                <option>Kandy</option>
                                <option>Colombo</option>
                                <option>Ekala</option>
                                <option>Kandana</option>
                                <option>Kottawa</option>
                                <option>Ganemulla</option>
                                <option>Homagama</option>
                                <option>Maharagama</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default" style="background-color:#F8D210; border-radius:24px; border-color: transparent">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <img src="~/images/colloborate2.png" style="width:60%; height:50%" />
            </div>
        </div>
    </div>
    <img src="~/images/layerimage.png" style="width: 100%;" class="bottom" />

</section>



<div class="container">

			<div class="row">

				@{List<WebSite.Models.AdvertisementModel> adverts = ViewData["Adverts"] as List<WebSite.Models.AdvertisementModel>;
					foreach (WebSite.Models.AdvertisementModel ad in adverts)
					{

						<div class="col-sm-4">
							<div class="thumbnail  productCard">
								<img src="~/images/sampleProduct1.jpg" alt="Product">
								<div class="row" style="margin-top:10px">
									<div class="col-sm-7" style="padding-left:30px">
										<p><strong>@ad.ItemName</strong></p>
										<p class="price"><strong>@ad.Price</strong></p>
									</div>
									<div class="col-sm-5 text-center">
										
										<a href="/AdView/viewAdvert/@ad.ItemId" class="btn btn-default btn-lg viewMoreBtn" role="button">View More</a>
									</div>
								</div>
							</div>
						</div>
					}
				}

			</div>
</div>
