<html>

<head>
    <title>Classified Ads</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .navbar {
  margin-bottom: 0;
  background-image: linear-gradient(to right, #320D7E, #25E7E1);
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #0288d1 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
    </style>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Classified Ads</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#about">HOME</a></li>
                    <li><a href="#services">PRICING</a></li>
                    <li><a href="#portfolio">CONTACT</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#pricing">LOGIN</a></li>
                    <li><a href="#contact">REGISTER</a></li>
                </ul>
            </div>
        </div>
    </nav>


</body>

</html>